Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -bugprone-narrowing-conversions,
  -bugprone-chained-comparison,
  modernize-avoid-bind,
  modernize-concat-nested-namespaces,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  modernize-redundant-void-arg,
  modernize-return-braced-init-list,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-starts-ends-with,
  modernize-use-using,
  performance-*,
  readability-container-size-empty,
  readability-implicit-bool-conversion,
  readability-make-member-function-const,
  readability-misleading-indentation,
  readability-redundant-member-init,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-static-accessed-through-instance,
  readability-string-compare
WarningsAsErrors: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -bugprone-narrowing-conversions,
  -bugprone-chained-comparison,
  -bugprone-unused-return-value,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*
HeaderFilterRegex: '^.*/cyclone/(src|include/cyclone|tests|benchmarks)/.*\.(h|hpp)$'
